<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="pageObjects.ActivityPage"/>
      <class name="pageObjects.KudosFromMe"/>
      <class name="pageObjects.KudosSearch"/>
      <class name="pageObjects.SendKudos"/>
      <class name="pageObjects.HomePage"/>
      <class name="qualitest.AppTest"/>
      <class name="qualitest.App"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
